<h1>List all organisations</h1>

<ul>
  <%= render @organisations %>
</ul>

<p><%= link_to "Logout", logout_organisations_path %></p>
<p><%= link_to 'Add a new organisation', new_organisation_path %></p>
